body {
  padding: 0;
  margin: 0;
  background-image: url('../img/bg-green.jpg');
}

body > p {
  padding: 0;
  margin: 0;
}

header {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  align-items: center;
  width: 1440px;
  height: 62px;
  background: rgba(111, 111, 111, 0.2);
  padding: 15px 35px;
  color: #FFFFFF;

}

.header-left-content {
  display: flex;
  width: 75%;
}

.header-left-content > img {
  height: 15px;
  width: 20px;
  margin: auto 26px auto 0;
}

.header-right-content {
  display: flex;
  justify-content: space-around;
  width: 25%
}

.header-left-content  > p {
  margin-right: 5px;
}

.header-right-content > div {
  display: flex;
}

.header-right-content > div > img {
  height: 15px;
  width: 20px;
  margin: auto 0 auto 0;
}

.config-content{
  cursor: pointer;
}

@media (max-width: 600px) {
  header{  
    margin: 0 0;
    width: 100vw;
    padding: 5px 10px;
    justify-content: space-between;
  } 

  .header-left-content {
    display: flex;
    width: 10%
  }

  .header-right-content {
    display: flex;
    display: none;
    width: 100%;
  }

  .config-content{
    width: 13%;
  }



}
